<a href="https://colab.research.google.com/github/vermaayush680/Trust-Link/blob/main/TransUnion_Data_Cleaning_and_PreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction

The business problem is to create an intelligent automated machine that is capable of classifying credit scores of the users based on the data given!

1. I went through the dataset thoroughly on Excel and found that most of the data is repeated 8 times. The reason for this is that the dataset contains data of users for 8 months Jan to Feb.

2. In these 8 months, many features such as **Age**,**Name**,**Annual Income** etc remained the same while some features are continous and have varying values for the same customer.

Based on the above points , the below work has been done!!!

#Unzipping Dataset

In [1]:
!unzip '/content/fd752804e24411ec.zip'

Archive:  /content/fd752804e24411ec.zip
   creating: dataset/
  inflating: dataset/train.csv
  inflating: dataset/test.csv
  inflating: dataset/sample_submission.csv

#Importing Necessary Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

pd. set_option("display.max_rows", None)

#Loading the Training Data

In [3]:
df = pd.read_csv('/content/dataset/train.csv',low_memory=False)

In [4]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

#Data Cleaning

In [6]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

## Finding % of Null Data

In [7]:
total_null = df.isnull().sum().sum()
total = np.product(df.shape)

percent_null = total_null / total * 100

print(f"Total Percentage Null Data : {percent_null}")

Total Percentage Null Data : 2.1453928571428573

Our dataset has Months from January to August for each customer.
So instead of dropping the data, I will be filling it.

In [8]:
df.nunique()

ID                          100000
Customer_ID                  12500
Month                            8
Name                         10139
Age                           1788
SSN                          12501
Occupation                      16
Annual_Income                18940
Monthly_Inhand_Salary        13235
Num_Bank_Accounts              943
Num_Credit_Card               1179
Interest_Rate                 1750
Num_of_Loan                    434
Type_of_Loan                  6260
Delay_from_due_date             73
Num_of_Delayed_Payment         749
Changed_Credit_Limit          4384
Num_Credit_Inquiries          1223
Credit_Mix                       4
Outstanding_Debt             13178
Credit_Utilization_Ratio    100000
Credit_History_Age             404
Payment_of_Min_Amount            3
Total_EMI_per_month          14950
Amount_invested_monthly      91049
Payment_Behaviour                7
Monthly_Balance              98792
Credit_Score                     3
dtype: int64

We have 8 repeated months and this is what we'll use for most column filling as most of the data is repaating for a customer

## Name Column Filling

In [9]:
df['Name'].isnull().sum()

9985

In [10]:
def fillnull(data=df,col=None):
  for i in range(data.shape[0]):
    if type(data.loc[i,col]) != str:
      if data.loc[i,'Month'] != 'August':
        j=i+1
        while(type(data.loc[j,col]) != str):
          j+=1
        data.loc[i,col]=data.loc[j,col]
      else:
        data.loc[i,col]=data.loc[i-1,col]
  return data

In [11]:
df = fillnull(data=df,col='Name')

In [12]:
df['Name'].isnull().sum()

0

## Monthly Inhand Salary Column Filling

In [13]:
for i in range(10):
  print(df.loc[i,'Name'],df.loc[i,'Monthly_Inhand_Salary'],type(df.loc[i,'Monthly_Inhand_Salary']))

Aaron Maashoh 1824.8433333333328 <class 'numpy.float64'>
Aaron Maashoh nan <class 'numpy.float64'>
Aaron Maashoh nan <class 'numpy.float64'>
Aaron Maashoh nan <class 'numpy.float64'>
Aaron Maashoh 1824.8433333333328 <class 'numpy.float64'>
Aaron Maashoh nan <class 'numpy.float64'>
Aaron Maashoh 1824.8433333333328 <class 'numpy.float64'>
Aaron Maashoh 1824.8433333333328 <class 'numpy.float64'>
Rick Rothackerj 3037.986666666666 <class 'numpy.float64'>
Rick Rothackerj 3037.986666666666 <class 'numpy.float64'>

In [14]:
df['Monthly_Inhand_Salary']=df['Monthly_Inhand_Salary'].fillna("NAN")

Filling with a random value for easier filtering

<a name="main"></a>

### Function to fill Values

In [15]:
def fillvalues(data=None,col=None):
  data[col] = data[col].fillna('NAN')
  for i in range(data.shape[0]):
    if data.loc[i,col] == 'NAN':
      j=i+1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        while(data.loc[j,col] == 'NAN'):
          j+=1
        data.loc[i,col]=data.loc[j,col]

  for i in range(data.shape[0]):
    if data.loc[i,col] == 'NAN':
      j=i-1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        data.loc[i,col]=data.loc[j,col]
  return data

In [16]:
df = fillvalues(data=df,col='Monthly_Inhand_Salary')

In [17]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [18]:
df[df['Monthly_Inhand_Salary'] == "NAN"]

Empty DataFrame
Columns: [ID, Customer_ID, Month, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score]
Index: []

[0 rows x 28 columns]

In [19]:
df.to_csv('train2.csv')

## Type Of Loan Column Filling

In [20]:
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [21]:
df['Type_of_Loan'].unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [22]:
df['Type_of_Loan'] = df['Type_of_Loan'].fillna('Not Specified')

In [23]:
df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                           0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment      7002
Changed_Credit_Limit           0
Num_Credit_Inquiries        1965
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          9030
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     4479
Payment_Behaviour              0
Monthly_Balance             1200
Credit_Score                   0
dtype: int64

## Number of Delayed Payment Column Filling

In [24]:
df[df['Num_of_Delayed_Payment'].isnull()][:20]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
30,0x162c,CUS_0xb891,July,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,Good,632.46,26.056395,17 Years and 9 Months,No,16.415452,71.28367488286933,Low_spent_Large_value_payments,443.5499567906391,Standard
32,0x1632,CUS_0x1cdb,January,Deepaa,21,615-06-7821,Developer,35547.71_,2853.309167,7,...,Standard,943.86,39.797764,30 Years and 8 Months,Yes,0.000000,276.72539431736266,!@9#%8,288.60552234930395,Standard
33,0x1633,CUS_0x1cdb,February,Deepaa,21,615-06-7821,Developer,35547.71,2853.309167,7,...,Standard,943.86,27.020360,30 Years and 9 Months,NM,0.000000,74.44364104999623,High_spent_Medium_value_payments,460.88727561667037,Standard
70,0x1668,CUS_0x4157,July,Charlie Zhur,24,070-19-1622,Doctor,114838.41,9843.8675,2,...,Good,1377.74,31.767516,21 Years and 10 Months,No,226.892792,215.4682977385688,High_spent_Medium_value_payments,792.0256603398883,Good
95,0x168d,CUS_0xc0ab,August,Soyoungd,33,342-90-2649,Engineer,88640.24,7266.686667,3,...,Good,950.36,30.870799,26 Years and 0 Months,No,135.173371,98.44195128223792,High_spent_Large_value_payments,733.0533444127112,Good
106,0x16a0,CUS_0x6c66,March,Sinead Carews,39,328-33-6328,Manager,8701.545_,519.12875,6,...,Standard,2602.69,36.475914,9 Years and 1 Months,NM,36.548197,45.6509755447516,Low_spent_Large_value_payments,239.71370228386124,Poor
140,0x16d2,CUS_0xfdb,May,Patrickg,46,928-91-4452,Teacher,32284.62,2898.385,6,...,_,1283.37,33.239784,6 Years and 9 Months,Yes,103.037560,154.0197492180297,High_spent_Small_value_payments,292.7811904266044,Standard
142,0x16d4,CUS_0xfdb,July,Patrickg,46,928-91-4452,Teacher,32284.62,2898.385,6,...,Standard,1283.37_,24.205533,6 Years and 11 Months,Yes,103.037560,__10000__,Low_spent_Small_value_payments,85.90209492602362,Standard
148,0x16de,CUS_0x3553,May,Laurence Frosty,26,084-25-3745,Musician,97791.42,7449.469347,6,...,_,107.41,38.649114,27 Years and 6 Months,Yes,629.815653,77.60922833984066,High_spent_Large_value_payments,970.3192716601593,Good
152,0x16e6,CUS_0x4100,January,Reema,31,068-83-4394,Entrepreneur,19300.34,1512.361667,6,...,Bad,2430.21,29.934186,18 Years and 2 Months,Yes,49.572062,79.17641583265376,Low_spent_Small_value_payments,312.48768858956015,Poor
164,0x16f6,CUS_0x132f,May,Mark Felsenthald,41,561-60-9294,Musician,19514.88,1828.24,7,...,Standard,881.4,41.176384,19 Years and 7 Months,No,0.000000,168.34146287619103,Low_spent_Small_value_payments,304.48253712380904,Poor
168,0x16fe,CUS_0xa16e,January,Lee Chyenz,41,905-50-7912,Media_Manager,10183.015,1074.584583,7,...,Bad,1672.43,25.951273,10 Years and 1 Months,Yes,37.588073,14.622739235117402,High_spent_Large_value_payments,295.2476462600903,Poor
172,0x1702,CUS_0xa16e,May,Lee Chyenz,41,905-50-7912,Media_Manager,10183.015,1074.584583,7,...,Bad,1672.43,32.293490,10 Years and 5 Months,Yes,37.588073,65.83126164076859,!@9#%8,294.03912385443914,Poor
194,0x1724,CUS_0xa5f9,March,Rickt,34,189-09-5267,Mechanic,57983.12,4720.926667,9,...,Bad,3532.83,37.810243,12 Years and 4 Months,Yes,200.432613,534.3581783879267,Low_spent_Small_value_payments,27.301874884033168,Poor
201,0x172f,CUS_0x4d43,February,Reijik,48,013-39-0742,_______,20787.69,1999.3075,8,...,Standard,614.6,34.235853,17 Years and 11 Months,No,42.221993,82.62718037237505,Low_spent_Large_value_payments,345.0815769711927,Standard
202,0x1730,CUS_0x4d43,March,Reijik,48,013-39-0742,_______,20787.69,1999.3075,8,...,Standard,614.6,22.802145,NaN,No,42.221993,110.17209563183977,Low_spent_Small_value_payments,337.53666171172796,Standard
209,0x173b,CUS_0xb95f,February,Ashleyk,30,467-13-1148,Writer,34290.12,2697.51,9,...,Standard,2686.81,27.036842,NaN,NM,185.111983,__10000__,Low_spent_Large_value_payments,196.5585016421765,Standard
269,0x1793,CUS_0x4004,June,Carlosj,44,679-26-6464,Writer,58317.0,4664.75,8,...,Standard,98.97,24.665525,13 Years and 6 Months,Yes,149.897199,98.88050778293751,High_spent_Medium_value_payments,467.6972927960543,Standard

In [25]:
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].fillna('NAN')

Filling with random value for easier filtering

In [26]:
df = fillvalues(data=df,col='Num_of_Delayed_Payment')

Using that same function from the Monthly Inhand Salary Filling!!

[Click Here to go to the function](#main)

In [27]:
df[df['Num_of_Delayed_Payment'] == 'NAN']

Empty DataFrame
Columns: [ID, Customer_ID, Month, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score]
Index: []

[0 rows x 28 columns]

In [28]:
df.to_csv('train3.csv')

## Credit History Age Column Filling

In [29]:
df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                           0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries        1965
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          9030
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     4479
Payment_Behaviour              0
Monthly_Balance             1200
Credit_Score                   0
dtype: int64

In [30]:
df['Credit_History_Age'].isnull().sum()

9030

In [31]:
df = fillvalues(data=df,col='Credit_History_Age')

Using that same function from the Monthly Inhand Salary Filling!!

[Click Here to go to the function](#main)

In [32]:
df[df['Credit_History_Age']== 'NAN']

Empty DataFrame
Columns: [ID, Customer_ID, Month, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score]
Index: []

[0 rows x 28 columns]

## Number of Credit Inquiries Column Filling

In [33]:
df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                           0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                   0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries        1965
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     4479
Payment_Behaviour              0
Monthly_Balance             1200
Credit_Score                   0
dtype: int64

In [34]:
fillvalues(data=df,col='Num_Credit_Inquiries')

## Amount Invested Monthly Column Filling

In [35]:
df.head(8)[['Annual_Income','Monthly_Inhand_Salary','Interest_Rate','Num_of_Loan','Outstanding_Debt','Payment_of_Min_Amount','Total_EMI_per_month','Amount_invested_monthly','Monthly_Balance']]

Found some "__10000__" in the data so handling them before filling with mean

In [36]:
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].replace({"__10000__":np.nan})

In [41]:
for i in range(df.shape[0]):
  if pd.isnull(df.loc[i,'Amount_invested_monthly']):
    df.loc[i,'Amount_invested_monthly'] = df[df['Customer_ID'] == df.loc[i,'Customer_ID']]['Amount_invested_monthly'].apply(pd.to_numeric).mean()

I have calculated the mean for each customer and used it to fill the null value.
I could have just calculated the entire column mean but filling of specific customer made more sense!!

## Monthly Balance Column Filling

In [ ]:
df.isnull().sum()

In [ ]:
for i in range(df.shape[0]):
  if pd.isnull(df.loc[i,'Monthly_Balance']):
    df.loc[i,'Monthly_Balance'] = df[df['Customer_ID'] == df.loc[i,'Customer_ID']]['Monthly_Balance'].apply(pd.to_numeric).mean()

In [ ]:
df.isnull().sum()

Our Dataset is finally cleaned!!

# Saving the Cleaned Dataset for further processing

In [42]:
df.to_csv('train_cleaned.csv')

In [43]:
from google.colab import files
files.download('/content/train_cleaned.csv')

# Data PreProcessing

In [44]:
df = pd.read_csv('/content/train_cleaned.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                100000 non-null  int64
 1   ID                        100000 non-null  object
 2   Customer_ID               100000 non-null  object
 3   Month                     100000 non-null  object
 4   Name                      100000 non-null  object
 5   Age                       100000 non-null  object
 6   SSN                       100000 non-null  object
 7   Occupation                100000 non-null  object
 8   Annual_Income             100000 non-null  object
 9   Monthly_Inhand_Salary     100000 non-null  float64
 10  Num_Bank_Accounts         100000 non-null  int64
 11  Num_Credit_Card           100000 non-null  int64
 12  Interest_Rate             100000 non-null  int64
 13  Num_of_Loan               100000 non-null  object
 14  Type_of_Loan              100000 non-null  object
 15  Delay_from_due_date       100000 non-null  int64
 16  Num_of_Delayed_Payment    100000 non-null  object
 17  Changed_Credit_Limit      100000 non-null  object
 18  Num_Credit_Inquiries      100000 non-null  float64
 19  Credit_Mix                100000 non-null  object
 20  Outstanding_Debt          100000 non-null  object
 21  Credit_Utilization_Ratio  100000 non-null  float64
 22  Credit_History_Age        100000 non-null  object
 23  Payment_of_Min_Amount     100000 non-null  object
 24  Total_EMI_per_month       100000 non-null  float64
 25  Amount_invested_monthly   100000 non-null  float64
 26  Payment_Behaviour         100000 non-null  object
 27  Monthly_Balance           100000 non-null  object
 28  Credit_Score              100000 non-null  object
dtypes: float64(5), int64(5), object(19)
memory usage: 22.1+ MB

Many columns such as Age have **Object** type and on closer inspection on Excel, I found that many columns have irrelevant/garbage data.
So let's handle that first!!

## Age Column Fixing

In [46]:
df['Age'].nunique()

1788

In [47]:
for i in range(100):
  if len(df.loc[i,'Age'])>2:
    print(i,df.loc[i,'Age'])

2 -500
8 28_
54 34_
56 7580
58 30_
71 24_
89 33_
97 35_

In [48]:
def fixvalues(data=None,col=None,leng=False):
  for i in range(df.shape[0]):
    if len(data.loc[i,col])>leng:
      j=i+1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        while(len(data.loc[j,col])>2):
          j+=1
        data.loc[i,col]=data.loc[j,col]

  for i in range(data.shape[0]):
    if len(data.loc[i,col])>2:
      j=i-1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        data.loc[i,col]=data.loc[j,col]
  return data

In [49]:
df = fixvalues(data=df,col='Age',leng=2)

In [50]:
for i in range(100000):
  if len(df.loc[i,'Age'])>2:
    print(i,df.loc[i,'Age'])

In [51]:
df['Age'] = df['Age'].apply(pd.to_numeric)

## Number of Bank Accounts Column Fixing

In [52]:
for i in range(100):
  if df.loc[i,'Num_Bank_Accounts'] > 12:
    print(i,df.loc[i,'Num_Bank_Accounts'])

In [53]:
def fixnumcard(data=None,col=None):
  for i in range(df.shape[0]):
    if data.loc[i,col] > 12  or data.loc[i,col] < 0:
      j=i+1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        while(data.loc[j,col] > 12  or data.loc[j,col] < 0):
          j+=1
        data.loc[i,col]=data.loc[j,col]

  for i in range(data.shape[0]):
    if data.loc[i,col] > 12  or data.loc[i,col] < 0:
      j=i-1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        data.loc[i,col]=data.loc[j,col]
  return data

In [54]:
df = fixnumcard(data=df,col='Num_Bank_Accounts')

In [55]:
for i in range(100000):
  if df.loc[i,'Num_Bank_Accounts'] > 12  or df.loc[i,'Num_Bank_Accounts'] < 0:
    print(i,df.loc[i,'Num_Bank_Accounts'])

In [56]:
df.to_csv('train_5.csv')

## Number of Credit Cards Column Fixing

In [57]:
for i in range(100):
  if df.loc[i,'Num_Credit_Card'] > 12 or df.loc[i,'Num_Credit_Card'] < 0:
    print(i,df.loc[i,'Num_Credit_Card'])

10 1385
40 1288

In [58]:
df = fixnumcard(data=df,col='Num_Credit_Card')

In [59]:
for i in range(100000):
  if df.loc[i,'Num_Credit_Card'] > 12  or df.loc[i,'Num_Credit_Card'] < 0:
    print(i,df.loc[i,'Num_Credit_Card'])

In [60]:
df.to_csv('train_6.csv')

## Interest Rate Column Fixing

In [61]:
for i in range(1000):
  if df.loc[i,'Interest_Rate'] > 34 or df.loc[i,'Interest_Rate'] < 0:
    print(i,df.loc[i,'Interest_Rate'])

44 5318
89 433
167 5240
178 4975
229 668
325 753
344 748
345 1138
472 5261
482 3238
514 2607
559 2724
609 1224
719 570
735 207
766 3366
770 5565
831 713
835 3951
848 5189
853 872
886 2199
893 2862
901 3863
947 3579
956 1649

In [62]:
def fixinterest(data=None,col=None):
  for i in range(df.shape[0]):
    if data.loc[i,col] > 34  or data.loc[i,col] < 0:
      j=i+1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        while(data.loc[j,col] > 34  or data.loc[j,col] < 0):
          j+=1
        data.loc[i,col]=data.loc[j,col]

  for i in range(data.shape[0]):
    if data.loc[i,col] > 34  or data.loc[i,col] < 0:
      j=i-1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        data.loc[i,col]=data.loc[j,col]
  return data

In [63]:
df = fixinterest(data=df,col='Interest_Rate')

In [64]:
for i in range(100000):
  if df.loc[i,'Interest_Rate'] > 34 or df.loc[i,'Interest_Rate'] < 0:
    print(i,df.loc[i,'Interest_Rate'])

## Number of Loans Column Fixing

In [65]:
for i in range(100):
  if len(df.loc[i,'Num_of_Loan']) > 1:
    print(i,df.loc[i,'Num_of_Loan'])

21 967
31 -100
34 -100
37 0_
39 -100
53 -100
61 -100
64 -100
78 -100
80 3_
84 3_
94 2_

In [66]:
def fixvalues(data=None,col=None):
  for i in range(df.shape[0]):
    if len(data.loc[i,col])>1:
      j=i+1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        while(len(data.loc[j,col])>1):
          j+=1
        data.loc[i,col]=data.loc[j,col]

  for i in range(data.shape[0]):
    if len(data.loc[i,col])>1:
      j=i-1
      if data.loc[i,'Customer_ID'] == data.loc[j,'Customer_ID']:
        data.loc[i,col]=data.loc[j,col]
  return data

In [67]:
df = fixvalues(data=df,col='Num_of_Loan')

In [68]:
for i in range(100000):
  if len(df.loc[i,'Num_of_Loan']) > 1:
    print(i,df.loc[i,'Num_of_Loan'])

## Delay of Due Date Column Fixing

In [69]:
df['Delay_from_due_date'].dtype

dtype('int64')

## Number of Delayed Payment Column Fixing

In [70]:
for i in range(100000):
  if df.loc[i,'Num_of_Delayed_Payment'][-1] == '_':
    df.loc[i,'Num_of_Delayed_Payment'] = df.loc[i,'Num_of_Delayed_Payment'][:-1]

In [71]:
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(pd.to_numeric)

## Changed Credit Card Column Fixing

In [72]:
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].replace({'_':np.nan})

In [73]:
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].ffill()

In [74]:
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].apply(pd.to_numeric)

## Number of Credit Inquiries Column Fixing

In [75]:
df['Num_Credit_Inquiries'].dtype

dtype('float64')

In [76]:
for i in range(100000):
  if df.loc[i,'Num_Credit_Inquiries'] > 20:
    df.loc[i,'Num_Credit_Inquiries'] = np.nan

In [77]:
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].ffill()

In [78]:
df['Num_Credit_Inquiries'].max()

17.0

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                100000 non-null  int64
 1   ID                        100000 non-null  object
 2   Customer_ID               100000 non-null  object
 3   Month                     100000 non-null  object
 4   Name                      100000 non-null  object
 5   Age                       100000 non-null  int64
 6   SSN                       100000 non-null  object
 7   Occupation                100000 non-null  object
 8   Annual_Income             100000 non-null  object
 9   Monthly_Inhand_Salary     100000 non-null  float64
 10  Num_Bank_Accounts         100000 non-null  int64
 11  Num_Credit_Card           100000 non-null  int64
 12  Interest_Rate             100000 non-null  int64
 13  Num_of_Loan               100000 non-null  object
 14  Type_of_Loan              100000 non-null  object
 15  Delay_from_due_date       100000 non-null  int64
 16  Num_of_Delayed_Payment    100000 non-null  int64
 17  Changed_Credit_Limit      100000 non-null  float64
 18  Num_Credit_Inquiries      100000 non-null  float64
 19  Credit_Mix                100000 non-null  object
 20  Outstanding_Debt          100000 non-null  object
 21  Credit_Utilization_Ratio  100000 non-null  float64
 22  Credit_History_Age        100000 non-null  object
 23  Payment_of_Min_Amount     100000 non-null  object
 24  Total_EMI_per_month       100000 non-null  float64
 25  Amount_invested_monthly   100000 non-null  float64
 26  Payment_Behaviour         100000 non-null  object
 27  Monthly_Balance           100000 non-null  object
 28  Credit_Score              100000 non-null  object
dtypes: float64(6), int64(7), object(16)
memory usage: 22.1+ MB

## Fixing Type Of Columns

In [80]:
def typecast(col='None'):
  df[col] = df[col].apply(pd.to_numeric)

In [81]:
typecast('Num_of_Loan')

In [82]:
for i in range(df.shape[0]):
  if df.loc[i,'Outstanding_Debt'][-1] == '_':
    df.loc[i,'Outstanding_Debt'] = df.loc[i,'Outstanding_Debt'][:-1]

In [83]:
typecast('Outstanding_Debt')

In [89]:
for i in range(df.shape[0]):
  if str(df.loc[i,'Monthly_Balance'])[-2:] == '__':
    df.loc[i,'Monthly_Balance'] = np.nan

In [90]:
df['Monthly_Balance'] = df['Monthly_Balance'].ffill()

In [91]:
typecast('Monthly_Balance')

In [92]:
for i in range(df.shape[0]):
  if df.loc[i,'Annual_Income'][-1] == '_':
    df.loc[i,'Annual_Income'] = df.loc[i,'Annual_Income'][:-1]

In [93]:
typecast('Annual_Income')

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                100000 non-null  int64
 1   ID                        100000 non-null  object
 2   Customer_ID               100000 non-null  object
 3   Month                     100000 non-null  object
 4   Name                      100000 non-null  object
 5   Age                       100000 non-null  int64
 6   SSN                       100000 non-null  object
 7   Occupation                100000 non-null  object
 8   Annual_Income             100000 non-null  float64
 9   Monthly_Inhand_Salary     100000 non-null  float64
 10  Num_Bank_Accounts         100000 non-null  int64
 11  Num_Credit_Card           100000 non-null  int64
 12  Interest_Rate             100000 non-null  int64
 13  Num_of_Loan               100000 non-null  int64
 14  Type_of_Loan              100000 non-null  object
 15  Delay_from_due_date       100000 non-null  int64
 16  Num_of_Delayed_Payment    100000 non-null  int64
 17  Changed_Credit_Limit      100000 non-null  float64
 18  Num_Credit_Inquiries      100000 non-null  float64
 19  Credit_Mix                100000 non-null  object
 20  Outstanding_Debt          100000 non-null  float64
 21  Credit_Utilization_Ratio  100000 non-null  float64
 22  Credit_History_Age        100000 non-null  object
 23  Payment_of_Min_Amount     100000 non-null  object
 24  Total_EMI_per_month       100000 non-null  float64
 25  Amount_invested_monthly   100000 non-null  float64
 26  Payment_Behaviour         100000 non-null  object
 27  Monthly_Balance           100000 non-null  float64
 28  Credit_Score              100000 non-null  object
dtypes: float64(9), int64(8), object(12)
memory usage: 22.1+ MB

In [95]:
df.to_csv('train_final.csv')